<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
body{
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
  }
.read{
  background-color: #495055;
  text-decoration-color: white;
}
table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 50% ;
  height: 50px;
}
.logo{
  width: 260px;
  height: 75px;
  margin-bottom: 5px;
}
</style>

<body class="bg-dark">

  <div class="bg"></div>
  <!-- <a href="logo.png"></a>  -->
    <div class="container">
      <div class="container">
      <div class="card card-register mx-auto mt-5 bg-dark" style="border-color: #ff8a5c; border-width: 2px;">
        <div class="card-header" style="background: #FF8A5C">
          <img class="logo" src="/logo.PNG"> 
          <!-- <label style="font-size: 200%;"><b>SlipSwap</b></label> -->
        </div>
        <div class="card-body">
          <form style="height: 90%;">

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group" >
                    <select id="a_cur" name="a_cur" class="form-control">
                      <option value="DAI">DAI</option>
                      <option value="KNC">KNC</option>
                      <option value="BAT">BAT</option>

                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <select id="b_cur" name="b_cur" class="form-control">
                      <option value="ETH">ETH</option>
                    </select>
                  </div>
                </div>      
              </div>
              <!-- <span id="mobileno" class="text-danger font-weight-bold"> </span> -->
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="Integer" id="amount" name="amount" class="form-control" placeholder="Amount" required="required">
              </div>
            </div>
          </div>
            <div class="container" >
            <label style="color:rgb(250, 243, 233); font-size: 150%;">Results:</label>
            <div>
              <img style="display: none; margin-left: auto; margin-right: auto" id="loader" src="/loader.gif" alt="">
            </div>
            <table class="table table-bordered" id="apiResults">
                </thead> -->
                <tbody style="color: white;">
                  <tr>
                    <td id="a_t"></td>
                    <td id="fromCurrency"></td>
                  </tr>
                  <tr>
                    <td id="toCurrency"></td>
                    <td id="optimalPrice"></td>
                  </tr>
                  <tr>
                    <td id="originalPrice"></td>
                    <td id="sequence"></td>
                  </tr>
                  <tr>
                      <td id="gasRequired"></td>
                      <td id="gasSpeed"></td>
                  </tr>
                  <tr>
                      <td id="amountSaved"></td>
                      <td id="conversionRate"></td>
                  </tr>
                </tbody>
              </table>
            
            <button type="button" style="background: #ff8a5c; border-color: #ff8a5c; margin-bottom: 5px; color: #625B47; font-weight: bold" class="btn btn-primary btn-block" id="calc" name="calc">Calculate</button>
            <!-- <div class="twoToneCenter">
          <button class="twoToneButton ">Sign In</button>
      </div> -->
    </div>
          </form>
          <!-- <div class="text-center">
            <a class="d-block small mt-3" href="login.php">Login Page</a>
            <a class="d-block small" href="\KJSCE/home.php">Home</a>
          </div> -->
        </div>
      </div>
    </div>

    <script>

      function hide(x) {
        x.style.display = 'none';
      }

      function show(x) {
        x.style.display = 'table';
      }


      $("#calc").click(async () => {
        var a_cur = document.querySelector('#a_cur').value;
        var b_cur = document.querySelector('#b_cur').value;
        var amt = document.querySelector('#amount').value;
        var loader = document.querySelector('#loader');
        var table = document.querySelector('#apiResults')
        hide(table);
        show(loader);
        var res = await fetch(`/${a_cur}?amt=${amt}`);
        var json = await res.json();
        console.log(json);

        var a_t = "Amount: "+json.amount;
        var fromCurrency = "From Currency: "+json.fromCurrency;
        var toCurrency = "To Currency: ETH";
        var optimalPrice = "Optimal Price: "+json.optimalPrice;
        var originalPrice = "Original Price: "+json.originalPrice;
        var sequence = "Split Result: "+json.sequence;
        var gasRequired = "Gas Required: "+json.gasRequired;
        var gasSpeed = "Gas Speed: safeLow";
        var amountSaved = "Amount Saved: $"+json.amountSaved;
        var conversionRate = "Conversion Rate: "+json.conversionRate;

        document.getElementById('a_t').innerHTML = a_t;
        $("#fromCurrency").html(fromCurrency);
        $("#toCurrency").html(toCurrency);
        $("#optimalPrice").html(optimalPrice);
        $("#sequence").html(sequence);
        $('#gasRequired').html(gasRequired);
        $('#originalPrice').html(originalPrice);
        $("#gasSpeed").html(gasSpeed);
        $("#amountSaved").html(amountSaved);
        $("#conversionRate").html(conversionRate);
        hide(loader);
        show(table);

      })

    </script>
</body>
